button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #22c1cf;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #055457;
}

button:active {
  background-color: #98c8d6;
}
